name: ci

on:
  workflow_dispatch:
    inputs:
      configuration:
        type: choice
        description: Build Configuration
        required: true
        default: Release
        options:
          - Release
          - Debug
      push-preview:
        type: string
        description: Push preview branch?
        required: true
        default: "false"
  push:
    branches-ignore:
      - "preview/**"
    paths-ignore:
      - LICENSE
      - README.md
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  lint:
    uses: f2calv/gha-workflows/.github/workflows/lint.yml@v1

  ci:
    uses: f2calv/gha-workflows/.github/workflows/dotnet-publish-nuget.yml@f2calv/2024-11-dotnet9b
    with:
      configuration: ${{ github.event.inputs.configuration }}
      push-preview: ${{ github.event.inputs.push-preview }}
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
