name: ci

on:
  workflow_dispatch:
    inputs:
      BuildConfiguration:
        type: choice
        description: Build Configuration
        required: true
        default: Release
        options:
          - Release
          - Debug
      PublishPreview:
        type: string
        description: Publish preview branch?
        required: true
        default: "false"
  push:
    branches-ignore:
      - "preview/**"
    paths-ignore:
      - ".azure-pipelines/**"
      - LICENSE
      - README.md
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]

jobs:
  lint:
    uses: f2calv/gha-workflows/.github/workflows/lint.yml@v1

  ci:
    uses: f2calv/gha-workflows/.github/workflows/dotnet-publish-nuget.yml@f2calv/2024-06-sonarqube-fix
    with:
      BuildConfiguration: ${{ github.event.inputs.BuildConfiguration }}
      PublishPreview: ${{ github.event.inputs.PublishPreview }}
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
